#p-hidden {
  display: none;
}
#python {
  display: none;
}

body {
  background-color: blueviolet;
}
.start-show {
  display: none;
}

#survey-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
.red-background {
  background-color: red;
}

#go {
  disply: none;
}
#swift {
  display:none;
}